    <footer>

        <!-- cta-area-start -->
        <section class="cta-area d-ldark-bg pt-55 pb-10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="cta-item cta-item-d mb-30">
                            <h5 class="cta-title">Follow Us</h5>
                            <div class="cta-social">
                                <div class="social-icon">
                                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100005520525295" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                    <a target="_blank" href="https://youtube.com/channel/UCOwn4-YZi0kJSyPPFQZAF1w" class="youtube"><i class="fab fa-youtube"></i></a>
                                    <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer__hotline d-flex align-items-center mb-10">
                            <div class="icon mr-15">
                                <i class="fal fa-headset"></i>
                            </div>
                            <div class="text">
                                <h4>Got Question? Call us 24/7!</h4>
                                <span><a href="tel:100-123-456-7890">(+977) 9822430087</a></span>
                            </div>
                        </div>
                        <div class="footer__info">
                            <ul>
                                <li>
                                    <span>Address: <a target="_blank" href="https://goo.gl/maps/c82DDZ8ALvL878Bv8">Aadarshnagar, Nepalgunj-10, Banke, Nepal</a></span>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="col-lg-4 col-md-6">

                        <div class="footer__widget">
                            <div class="footer__widget-title mb-20">
                                <h4>About The Store</h4>
                            </div>
                            <div class="footer__widget-content">
                                <p class="footer-text mb-35">Our mission statement is to provide the absolute best customer experience available in the Electronic industry without exception.</p>


                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>
        <!-- cta-area-end -->


        <div class="fotter-area d-dark-bg">
            <div class="footer__bottom">
                <div class="container">
                    <div class="footer__bottom-content pt-55 pb-45">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="footer__links text-center mb-25">
                                    <p>
                                        <a href="{% url 'home' %}">Home</a>
                                        <a href="{% url 'product' %}">Products</a>
                                        <a href="{% url 'checkout' %}">cart</a>
                                        <a href="{% url 'contact' %}">contact</a>
                                        <a href="{% url 'about' %}">about us</a>
                                    </p>
                                </div>
                                <div class="payment-image text-center mb-25">
                                    <a href="contact.html"><img src="assets/img/payment/payment.png" alt=""></a>
                                </div>
                                <div class="copy-right-area text-center">
                                    <p>Copyright © <span>Nepalemart.</span> All Rights Reserved. Powered by <a href="#"><span class="main-color">Nepalemart</span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>